*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height:100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/48604/pexels-photo-48604.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-position: center;
    background-size: cover;
    position:relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}  
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} 
.nav-links ul li a{
    color:blue;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: coral;
    display: block;
    margin:auto ;
    
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.text-box{
    width: 90%;
    color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color:blue;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: orangered;
    border: 1px solid orangered;
    padding: 12px  34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid orange;
    background: orange;
    transition: 1s;
}

nav .fa{
    display: none;
}
@media(max-width:700px){
    .text-box h1{
        font-size:40px ;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: rgb(0, 0, 0);
        margin:10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
    
}

/*------------important websites---------*/



.websites{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.websites-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
   
}
h3{
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px 0;
}
.websites-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

/*--------------------------vaccination---------*/

.Vaccination{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.Vaccination-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.Vaccination-col img{
    width: 100%;
    display: block;
}


.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.layer:hover{
    background: rgba(226,0,0,0.7);
    transition: 0.5s;

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    transition: 0.5s;
}
/*-------------HOW WE WORK -------*/
.work{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}








/*----------------TESTIMONIALS----------------*/










/*-----------------want help------------*/
.cta{
    margin: 100px auto;
    width: 70%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCaZab8Ep1z3iJKvfGT6kiiBpedphzEU_oXg&usqp=CAU);
    background-position: center;
    background-size: cover ;
    border-radius: 30px;
    text-align: center;
    padding: 100px 0;

}
.cta{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}   
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
/*-----------------------FOOTER-----------*/
.footer{
    width:100%;
    text-align:center;
    padding: 30px 0;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}


/*--------------------about us pge---------------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://i0.wp.com/3minute.club/wp-content/uploads/2016/08/Yellow-background.png?ssl=1);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col h1{
    padding-top: 0 ;
}
.about-col p{
    padding: 15px 0 25px;
}
@media(max-width:700px){
    .about-col img{
        width: 100%;
    }

    }

/*-----------------contact us page-------------*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;

}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;

}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}